.cardForm{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 45%;
}



.label{
  font-size: 1.6rem;
  font-weight: 500;
}


input{
  border: 2px solid hsl(270, 3%, 87%);
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  
}

.input-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* width: 70%; */
}

.input-container__parallel{
  display: flex;
  gap: 2rem;
  /* width: 70%; */
}
.expiryDate-inputs{
  display: flex;
  gap: 1rem;
}

.expiryDate-inputs input{

  width:100%;
}


.input-container-fieldset{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: none;
  align-items: center;
  justify-content: center;
}

.submit-btn{
  /* width: 70%; */
  border-radius: 1rem;
  padding: 1.6rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #000;
  color: #fff;
  border: none;
}

.error-message{
  color: red;
  font-size: 1.2rem;
  margin-top: 1rem;
}


@media (max-width:80em){
  .label{
    font-size: 1.4rem;
  }

  input{
    font-size: 1.4rem;
  }

  .submit-btn{
    font-size: 1.4rem;
  }
}


@media (max-width:60em){
  .label{
    font-size: 1.2rem;
  }

  input{
    border: 1px solid hsl(270, 3%, 87%);
    font-size: 1.2rem;
  }

  .submit-btn{
    font-size: 1.2rem;
  }
}

@media (max-width:56em){
 .cardForm{
  padding: 2rem;
 }
}

@media (max-width:45em){
  

 .cardForm{
  max-width: 80%;
 }


}