.app{
  width: 100vw;
  height: 100vh;
  /* background-color: aquamarine; */
  display: grid;
  grid-template-columns: 30% 70%;

}

.card-section{
  background: url("./assets/bg-main-desktop.png");
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.cardForm-section{
  display: flex;
  align-items: center;
  justify-content: center;
}